upstream app {
    {% for backend in app_backends %}
    server {{ backend }}:{{ app_proxy_port }};
    {% endfor %}
}

server {
    listen 80;
    
    server_name {{ app_domain_name }};

    location / {
        proxy_pass http://app;
    }
}
