upstream app {
    {% for srv in app_servers %}
    server {{ srv }}:{{ app_port }};
    {% endfor %}
}

server {
    listen 80;
    
    server_name {{ app_domain_name }};

    location / {
        proxy_pass http://app;
    }
}
